*.vsconfig
PAProjectZombieCity/.editorconfig
PAProjectZombieCity/Library/
PAProjectZombieCity/Logs/
PAProjectZombieCity/Temp/
PAProjectZombieCity/UserSettings/
*.csproj
SLProjectExcelExporter/Library/
SLProjectExcelExporter/Temp/
SLProjectExcelExporter/UserSettings/
SLProjectExcelExporter/Logs/
PAProjectZombieCity/obj/
